body {
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.gamegrid {
    width: 400px;
    height: 400px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5, minmax(30px, 1fr));
}

.gamegrid > * {
    margin: 0;
    aspect-ratio: 1/1;
    background-color: #eee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggled {
    background-color: #3b3;
    color: white !important;
}

.statusbar {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.statusbar * {
    width: 60px;
}

.leaderboard table {
    width: 400px;
    border-collapse: collapse;
}
th {
    background-color: #66a;
    color: white;
    text-align: left;
}
.bestscore * {
    background-color: #eea;
}
td,th {
    padding: 4px;
}
tr {
    background-color: #bcd;
}
tr:nth-child(2n) {
    background-color: #def;
}

#statusmsg {
    margin: 0;
    background-color: #bbb;
    padding: 6px;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 150px;
    font-size: 14px;
}

.win {
    background-color: #3b3 !important;
}

.loss {
    background-color: #b33 !important;
}